<div class="modal modal--backdrop noFocus" role="dialog" id="node-{{ item.id }}" tabindex="0" aria-describedby="modal-description3">
    <section class="modal__content" role="document">
        <form action="{{ path('app_chin_nodesorganization') }}" method="post">
            <div class="modal__body noFocus" tabindex="0" lang="en-US">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-xs-6">
                        <h1>{{ 'node'|trans|capitalize }}</h1>
                    </div>
                    <div class="col-xs-6">
                        <button style="float: right;" class="modal__close-button">
                            <i class="icon icon-cross"></i>
                            {{ 'close'|trans|capitalize }}
                        </button>
                    </div>
                </div>
                <div class="input input--horizontal">
                    <div>
                        <label class="input__label" for="name">{{ 'name'|trans|capitalize }} <span style="color: red;"><strong>*</strong></span></label>
                    </div>
                    <input required="" type="text" id="name" name="name" aria-describedby="hint_name" class="input__control input__control--text input__control--xl"
                    {% if item.name is defined and item.name is not empty %}value="{{ item.name }}"{% endif %}>
                </div>
                <div class="input input--horizontal">
                    <div>
                        <label class="input__label" for="description">{{ 'description'|trans|capitalize }} <span style="color: red;"><strong>*</strong></span></label>
                    </div>
                    <textarea required="" id="description" name="description" aria-describedby="hint_name" class="input__control input__control--text input__control--xl">{% if item.description is defined and item.description is not empty %}{{ item.description }}{% endif %}</textarea>
                </div>
                <div class="input input--horizontal">
                    <div>
                        <label class="input__label" for="passthroughUrl">{{ 'passthrough Url'|trans|capitalize }}</label>
                    </div>
                    <input id="passthroughUrl" type="text" name="passthroughUrl" aria-describedby="hint_name" class="input__control input__control--text input__control--xl"
                    {% if item.passthroughUrl is defined and item.passthroughUrl is not empty %}value="{{ item.passthroughUrl }}"{% endif %}>
                </div>
                <div class="input input--horizontal">
                    <div>
                        <label class="input__label" for="place">{{ 'place'|trans|capitalize }} <span style="color: red;"><strong>*</strong></span></label>
                    </div>
                    <select disabled id="place" name="place" class="input__control input__control--xl input__control--select">
                        {% if places is defined and places is not empty %}
                            {% for place in places %}
                                <option {% if item.place is defined and item.place == place['@id']%} selected {% endif %} value="{{ place['@id'] }}">{{ place.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="input input--horizontal">
                    <div>
                        <label class="input__label" for="organization">{{ 'organization'|trans|capitalize }} <span style="color: red;"><strong>*</strong></span></label>
                        <input disabled required="" type="text" id="organization" aria-describedby="hint_name" class="input__control input__control--text input__control--xl"
                               value="{{ organizations.name }}">
                        <input type="hidden" name="organization" value="{{ organizations['@id'] }}">
                    </div>
                </div>
                <div class="input input--horizontal">
                    <legend class="input__legend">{{ 'login methodes'|trans|capitalize }}:</legend>
                    <div class="input__group input__group--checkbox">
                        <input name="methods[idin]" value="true" type="checkbox" id="idin{{ item.id|replace({'-': ''}) }}" class="input__control input__control--l input__control--checkbox"
                                {% if item.methods is defined and 'idin' in item.methods|keys %}checked{% endif %}>
                        <label class="input__label input__label--checkbox" for="idin{{ item.id|replace({'-': ''}) }}">Idin</label>
                    </div>
                    <div class="input__group input__group--checkbox">
                        <input name="methods[facebook]" value="true" type="checkbox" id="facebook{{ node.id|replace({'-': ''}) }}" class="input__control input__control--l input__control--checkbox"
                               {% if item.methods is defined and 'facebook' in item.methods|keys %}checked{% endif %}>
                        <label class="input__label input__label--checkbox" for="facebook{{ item.id|replace({'-': ''}) }}">facebook</label>
                    </div>
                    <div class="input__group input__group--checkbox">
                        <input name="methods[gmail]" value="true" type="checkbox" id="gmail{{ node.id|replace({'-': ''}) }}" class="input__control input__control--l input__control--checkbox"
                               {% if item.methods is defined and 'gmail' in item.methods|keys %}checked{% endif %}>
                        <label class="input__label input__label--checkbox" for="gmail{{ item.id|replace({'-': ''}) }}">gmail</label>
                    </div>
                    {% if item['id'] is defined %}
                        <input type="hidden" id="id" name ="id" value="{{ item['id'] }}">
                    {% endif %}
                    {% if item['@id'] is defined %}
                        <input type="hidden" id="@id" name ="@id" value="{{ item['@id'] }}">
                    {% endif %}
                </div>
            </div>
                <footer class="modal__footer" lang="en-US">
                <button class="btn btn--primary">{{ 'edit'|trans|capitalize }}</button>
            </footer>
        </form>
    </section>
</div>
