{% set calendarUrls = [] %}
{% for property in request.properties %}
    {% if 'http' in property %}
        {% set propObject = commonground_resource(property) %}
        {% if propObject is defined and propObject is not empty %}
            {% for property in propObject %}
                {% if '://arc' in property %}
                    {% set calendarUrls = calendarUrls|merge([property]) %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}

{% set calendars = [] %}
{% if calendarUrls is defined and calendarUrls is not empty %}
    {% for calendar in calendarUrls %}
        {% set calendar = commonground_resource(calendar) %}
        {% set calendars = calendars|merge([calendar]) %}
    {% endfor %}
{% endif %}

<label class="input__label" for="{{ property.id }}">
    {% if property.icon is defined and property.icon is not empty %}
        <i style="margin-right: 10px;" class="{{ property.icon }}"></i>
    {% endif %}
    {{ property.title }}</label>
{% if property.description %}<span class="input__hint"
                                   id="{{ property.id }}_name">{{ property.description }}</span>{% endif %}
<style>
    .activeBtn {
        background-color: #f9e11e !important;
        color: black;
        border: 2px solid black !important;
    }
</style>
<table class="table table--small-font">
    <thead>
    <tr>
        <th><select id="weekSelect" onchange="weekSelector(this)" class="calendarSelect">
            </select></th>
        <th style="text-align: center">Ma<br>
            <p style="font-weight: 100" class="day"></p></th>
        <th style="text-align: center">Di<br>
            <p style="font-weight: 100" class="day"></p></th>
        <th style="text-align: center">Woe<br>
            <p style="font-weight: 100" class="day"></p></th>
        <th style="text-align: center">Do<br>
            <p style="font-weight: 100" class="day"></p></th>
        <th style="text-align: center">Vrij<br>
            <p style="font-weight: 100" class="day"></p></th>
        <th style="text-align: center">Zat<br>
            <p style="font-weight: 100" class="day"></p></th>
        <th style="text-align: center">Zon<br>
            <p style="font-weight: 100" class="day"></p></th>
    </tr>
    </thead>
    <tbody id="calendarBody">
    </tbody>
</table>

<div id="testData" style="margin-top: 40px;">

</div>


<input id="calendarValue" type="hidden" name="request[properties][{{ property.name }}]"
       value="">

<script>
    var calendarTBody = document.getElementById('calendarBody');

    var startHour = 0;
{#    {% if property.configuration.startingHour is defined and property.configuration.startingHour is not empty %}#}
{#    startHour = {{ date_interval(property.configuration.startingHour, '%h') }};#}
{#    {% else %}#}
    startHour = 9;
{#    {% endif %}#}

    var endHour = 0;
{#    {% if property.configuration.endingHour is defined and property.configuration.startingHour is not empty %}#}
{#    endHour = {{ date_interval(property.configuration.endingHour, '%h') }};#}
{#    {% else %}#}
    endHour = 17;
{#    {% endif %}#}

    var optionDuration = 0;
{#    {% if property.configuration.optionDuration is defined and property.configuration.optionDuration is not empty %}#}
{#    optionDuration = {{ date_interval(property.configuration.optionDuration, '%h') }};#}
{#    {% else %}#}
    optionDuration = 2;
{#    {% endif %}#}



    var numberOfTableRows = endHour - startHour;
    var optionsPerDay = numberOfTableRows / optionDuration;

    function buildTableRows() {
        for (let i = 0; i < optionsPerDay; i++) {
            let tr = document.createElement('tr');
            tr.style.height = '60px';
            tr.classList.add('days');

            calendarTBody.append(tr);

            let th = document.createElement('th');
            th.innerText = startHour + (i * optionDuration) + ':00 - ' + (startHour + ((i + 1) * optionDuration)) + ':00';

            tr.append(th);
        }
    }

    buildTableRows();

    Date.prototype.getWeek = function (dowOffset) {

        var d = new Date();
        var n = d.getDay();

        dowOffset = typeof (dowOffset) == 'int' ? dowOffset : 0;
        let newYear = new Date(this.getFullYear(), 0, 1);
        let day = newYear.getDay() - dowOffset;
        day = (day >= 0 ? day : day + 7);
        let dayNum = Math.floor((this.getTime() - newYear.getTime() -
            (this.getTimezoneOffset() - newYear.getTimezoneOffset()) * 60000) / 86400000) + 1;
        let weekNum;
        if (day < 4) {
            weekNum = Math.floor((dayNum + day - 1) / 7) + 1;
            if (weekNum > 52) {
                let nYear = new Date(this.getFullYear() + 1, 0, 1);
                let nDay = nYear.getDay() - dowOffset;
                weekNum = nDay < 4 ? 1 : 53;
            }
        } else {
            weekNum = Math.floor((dayNum + day - 1) / 7);
        }
        return weekNum;
    };

    // function getDateOfWeek(w, y) {
    //     let date = new Date(y, 0, (1 + (w - 1) * 7));
    //     date.setDate(date.getDate() + (1 - date.getDay()));
    //     return date
    // }

    //test data
    let test = new Date();
    test.setDate(test.getDate() + 2);


    let startTimeInMs = 0;
    var selectedFromRequest = false;

    // console.log('----- Defined log');
    // console.log(startTimeInMs);
    // console.log('----- ');

    let today = new Date();
    let currentYear = today.getFullYear();
    let currentWeek = today.getWeek();
    let select = document.getElementById('weekSelect');
    // Max weeks should be configurable through the current property
    {% set maxWeeks = 3 %}
    for (let i = currentWeek; i <= currentWeek + {{ maxWeeks }}; i++) {
        if (i > 52) {
            let counter = i - 52;
            let nextYear = currentYear + 1;
            let option = document.createElement('option');
            option.id = i;
            option.value = counter + '-' + nextYear;
            option.innerHTML = 'week: ' + counter + ' - ' + nextYear;
            select.appendChild(option);
        } else {
            let option = document.createElement('option');
            option.id = i;
            option.value = i + '-' + currentYear;
            option.innerHTML = 'week: ' + i + ' - ' + currentYear;
            select.appendChild(option);
        }

    }


    let days = document.getElementsByClassName('days');
    for (let i = 0; i < days.length; i++) {
        for (let j = 0; j < 7; j++) {

            let td = document.createElement('td');
            td.setAttribute('style', 'height: 40px; padding: 0;');

            let button = document.createElement('button');
            button.setAttribute('style', 'width: 100%; display: block; height: 100%; background-color: white; border: 1px solid lightgray;');
            button.type = 'button';
            button.value = days[i].children[0].innerHTML;

            button.className = 'btnStyle button-' + j.toString();
            button.addEventListener('click', function () {
                selectDate(button.value, button.name, button);
            });
            td.appendChild(button);
            days[i].appendChild(td);
        }
    }

    function weekSelector(week) {
        // Remove all active buttons
        var elems = document.querySelectorAll(".activeBtn");
        [].forEach.call(elems, function (el) {
            el.classList.remove("activeBtn");
        });


        const months = ['Jan', 'Feb', 'Maart', 'April', 'Mei', 'Juni', 'Juli', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

        var currentDateInMs = new Date().getTime();
        var currentDay = new Date().getDay();
        var currentWeek = new Date().getWeek();
        var currentYear = new Date().getFullYear();

        let arr = week.value.split('-');

        let dateOfSelectedWeek = getDateOfISOWeek(arr[0], arr[1]);
        let date = getDateOfISOWeek(arr[0], arr[1]);
        let n = getDateOfISOWeek(arr[0], arr[1]);
        let days = document.getElementsByClassName('day');
        for (let i = 0; i < days.length; i++) {
            if (i !== 0) {
                var ab = dateOfSelectedWeek.setDate(dateOfSelectedWeek.getDate() + 1);
                var dateOfThisDay = new Date(ab);
            } else {
                var dateOfThisDay = new Date(dateOfSelectedWeek);
            }
            let buttons = document.getElementsByClassName('button-' + i.toString());
            // console.log(dateOfThisDay);
            var timeOfThisDay = new Date(dateOfThisDay);
            timeOfThisDay.addHours(startHour);
            // console.log("---");
            var abc = new Date(timeOfThisDay);
            var abc2 = new Date(timeOfThisDay);
            for (let j = 0; j < buttons.length; j++) {
                var optionStartDate = new Date(abc).addHours(j * optionDuration);
                var optionYear = new Date(optionStartDate);
                optionYear = optionYear.getFullYear();
                var optionEndDate = new Date(abc2).addHours(j * optionDuration + optionDuration);
                var optionStartDateMs = optionStartDate.getTime();
                var optionEndDateMs = optionEndDate.getTime();
                buttons[j].name = date.getDate() + ' ' + months[date.getMonth()] + ' ' + optionYear;
                buttons[j].innerText = 'kies';
                buttons[j].setAttribute('style', 'width: 100%; display: block; height: 100%; background-color: #148839; border: 1px solid lightgray;');
                if (currentWeek == arr[0] && currentYear == optionYear && (currentDay === (i + 1) || currentDay > (i + 1))) {
                    buttons[j].setAttribute('style', 'width: 100%; display: block; height: 100%; background-color: lightgrey; border: 1px solid lightgray;');
                    buttons[j].innerText = '';
                    buttons[j].setAttribute('disabled', 'disabled');
                } else {
                    buttons[j].removeAttribute('disabled');
                }
                let eventStartDate = 0;
                let eventEndDate = 0;
                let pickedEventStartDate = 0;
                let pickedEventEndDate = 0;

                // console.log('----- Button');
                // console.log(optionStartDate);
                // console.log('----- selected time during if check');
                // console.log(startTimeInMs);
                // console.log('----- option value log');
                // console.log(optionStartDateMs);
                // console.log('-----');

                // if (startTimeInMs != 0) {
                //     startTimeInMs = new Date(startTimeInMs);
                //     startTimeInMs.setHours(startTimeInMs.getHours() + 2);
                //     startTimeInMs = startTimeInMs.getTime();
                //     console.log('----- selected time -2 hours');
                //     console.log(startTimeInMs);
                //     console.log('-----');
                // }

                // console.log("----- Knop " + j + " Dag " + i);
                // console.log(optionStartDateMs);
                // console.log("-----");
                {% for calendar in calendars %}
                {% for event in calendar.events %}
                eventStartDate = {{ event.startDate|date("U", "Europe/Paris") }};
                eventEndDate = {{ event.endDate|date("U", "Europe/Paris") }};
                eventStartDate = eventStartDate * 1000;
                eventEndDate = eventEndDate * 1000;
                // console.log(dateOfThisDay);
                // console.log(timeOfThisDay);
                {#console.log(optionStartDate);#}
                {#console.log(optionEndDateMs);#}
                {#console.log(optionEndDate);#}
                {#console.log("{{ event.startDate|date }}");#}
                {#console.log("{{ event.endDate|date }}");#}
                {#console.log(eventStartDate);#}
                {#console.log(eventEndDate);#}
                if (eventStartDate >= optionStartDateMs && eventStartDate < optionEndDateMs) {
                    buttons[j].setAttribute('style', 'width: 100%; display: block; height: 100%; background-color: lightgrey; border: 1px solid lightgray;');
                    buttons[j].innerText = '';
                    buttons[j].setAttribute('disabled', 'disabled');
                } else if (eventEndDate > optionStartDateMs && eventEndDate < optionEndDateMs) {
                    buttons[j].setAttribute('style', 'width: 100%; display: block; height: 100%; background-color: lightgrey; border: 1px solid lightgray;');
                    buttons[j].innerText = '';
                    buttons[j].setAttribute('disabled', 'disabled');
                } else if (eventStartDate < optionStartDateMs && eventEndDate > optionEndDateMs) {
                    buttons[j].setAttribute('style', 'width: 100%; display: block; height: 100%; background-color: lightgrey; border: 1px solid lightgray;');
                    buttons[j].innerText = '';
                    buttons[j].setAttribute('disabled', 'disabled');
                } else if (eventStartDate === optionStartDate && eventEndDate === optionStartDate) {
                    buttons[j].setAttribute('style', 'width: 100%; display: block; height: 100%; background-color: lightgrey; border: 1px solid lightgray;');
                    buttons[j].innerText = '';
                    buttons[j].setAttribute('disabled', 'disabled')
                }
                {% endfor %}
                {% endfor %}

                {% if request.properties[property.name] is defined and request.properties[property.name] is not empty %}
                pickedEventStartDate = {{ request.properties.datum|date("U", "Europe/Paris") }};
                pickedEventStartDate = pickedEventStartDate * 1000;
                // console.log('------ Gekozen tijdstip vanuit verzoek');
                // console.log(pickedEventStartDate);
                // console.log('------');
                // console.log(pickedEventStartDate);
                if (pickedEventStartDate === optionStartDateMs) {
                    selectedFromRequest = true;
                    selectDate(buttons[j].value, buttons[j].name, buttons[j]);
                }
                {% endif %}
                if (startTimeInMs >= optionStartDateMs && startTimeInMs < optionEndDateMs) {
                    selectDate(buttons[j].value, buttons[j].name, buttons[j]);
                }
                // console.log(startTimeInMs);

            }
            days[i].innerHTML = date.getDate() + ' ' + months[date.getMonth()];
            date.setDate(date.getDate() + 1);
        }
    }

    function selectDate(timeFrame, date, button) {
        removeClass('activeBtn');
        button.classList.add('activeBtn');

        if (date !== '') {
            let testData = document.getElementById('testData');
            let time = timeFrame.split('-');

            testData.innerText = 'Gekozen datum: ' + date + ' tussen: ' + time[0] + ' - ' + time[1];

            let date2 = date.split(' ');
            let month = getMonthFromString(date2[1]);

            time[0] = time[0].replace(/\s/g, '');
            time[1] = time[1].replace(/\s/g, '');

            month = parseInt(month);
            if (month < 10) {
                month = month.toString();
                month = "0" + month;
            } else {
                month = month.toString();
            }
            date2[0] = parseInt(date2[0]);
            if (date2[0] < 10) {
                date2[0] = date2[0].toString();
                date2[0] = "0" + date2[0];
            } else {
                date2[0] = date2[0].toString();
            }
            let startDate = date2[2] + '-' + month + '-' + date2[0] + ' ' + time[0];

            let userSelectedDate = new Date(startDate);
            let formattedSelectedDate = userSelectedDate.getUTCDate() + '-' + (userSelectedDate.getUTCMonth() + 1) + '-' + userSelectedDate.getUTCFullYear();
            if(parseInt(userSelectedDate.getUTCHours()) < 10){
                formattedSelectedDate = formattedSelectedDate + ' ' + '0' + userSelectedDate.getUTCHours();
            } else {
                formattedSelectedDate = formattedSelectedDate + ' ' + userSelectedDate.getUTCHours();
            }
            if(userSelectedDate.getUTCMinutes() == '0'){
                formattedSelectedDate = formattedSelectedDate + ':' + userSelectedDate.getUTCMinutes() + '0';
            } else {
                formattedSelectedDate = formattedSelectedDate + ':' + userSelectedDate.getUTCMinutes();
            }
            // console.log(formattedSelectedDate);
            let hiddenInput = document.getElementById('calendarValue');

            hiddenInput.value = formattedSelectedDate;

            // console.log(startDate);

            if(selectedFromRequest !== true) {
                let startDateAsDate = new Date();

                // console.log('----- selected time after select before');
                // console.log(startTimeInMs);
                // console.log('-----');

                startDateAsDate = new Date(startDate);
                // console.log('----- startdateasdate after selecting');
                // console.log(startDateAsDate);
                // console.log('-----');

                startTimeInMs = startDateAsDate.getTime();
                //
                // console.log('----- selected time after select after');
                // console.log(startTimeInMs);
                // console.log('-----');
            }
            selectedFromRequest = false;
        }
    }

    function firstStart() {
        let info = document.getElementById('weekSelect');

        weekSelector(info);
    }

    function removeClass(className) {
        let buttons = document.getElementsByClassName('btnStyle');
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove(className);
        }
    }

    function getDateOfISOWeek(w, y) {
        var simple = new Date(y, 0, 1 + (w - 1) * 7);
        var dow = simple.getDay();
        var ISOweekStart = simple;
        if (dow <= 4)
            ISOweekStart.setDate(simple.getDate() - simple.getDay() + 1);
        else
            ISOweekStart.setDate(simple.getDate() + 8 - simple.getDay());
        return ISOweekStart;
    }

    function getMonthFromString(mon) {
        return new Date(Date.parse(mon + " 1, 2012")).getMonth() + 1
    }

    Date.prototype.addHours = function (h) {
        this.setTime(this.getTime() + (h * 60 * 60 * 1000));
        return this;
    }

    firstStart();


</script>
