<div class="content-background">
    <div class="content">
        <div class="row">
            <div class="col-xs-6">
                <h2>{{ 'nodes'|trans|capitalize }}</h2>
            </div>
            <div class="col-xs-6">
                <button class="btn" style="float: right" data-toggle="modal" data-target="#myModal" onclick="openModal()">{{ 'new'|trans|capitalize }}</button>
            </div>
        </div>
        {% if nodes is defined and nodes is not empty %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">{{ 'name'|trans|capitalize }}</th>
                    <th scope="col">{{ 'place'|trans|capitalize }}</th>
                    <th scope="col">{{ 'code'|trans|capitalize }}</th>
                    <th scope="col">{{ 'qr'|trans|capitalize }}</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for node in nodes %}
                    <tr>
                        <td>{{ node.name }}</td>
                        <td>{{ commonground_resource(node.place).name }}</td>
                        <td>{{ node.reference }}</td>
                        <td><img src="{{ qr_code_data_uri( absolute_url(path('app_chin_checkin',{"code":node.reference})) , { writer: 'svg', size: 150 }) }}" /></td>
                        <td><a data-toggle="modal" data-target="#node-{{ node.id }}" onclick="openModal{{ node.id|replace({'-': ''}) }}()">{{ 'edit'|trans|capitalize }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <aside class="hint">
                <h2 class="hint__title">{{ 'no nodes'|trans|capitalize }}</h2>
            </aside>
        {% endif %}
    </div><!-- /.content -->
</div><!-- /.content-background -->


{% include 'chin/modals/node_modal.html.twig' %}

{% for node in nodes %}
    {% include 'chin/modals/node_modal_edit.html.twig' with { 'item':node } %}
    <script>
        let myModal{{ node.id|replace({'-': ''}) }};
        // Load modal component
        System.import('/uno/components/modal/modal.js').then(function (module) {
            myModal{{ node.id|replace({'-': ''}) }} = new module.Modal(document.getElementById('node-{{ node.id }}'));
        });

        // Called when the user clicks the button
        function openModal{{ node.id|replace({'-': ''}) }}() {
            myModal{{ node.id|replace({'-': ''}) }}.open();
        }
        // Called when the user clicks the button
        function closeModal{{ node.id|replace({'-': ''}) }}() {
            myModal{{ node.id|replace({'-': ''}) }}.close();
        }
    </script>
{% endfor %}
