
{% if property.query is defined and property.query is not empty %}
    {% set queryArray = [] %}
    {% for key, value in property.query %}
        {% if 'request.properties' in value %}
            {% if value|split('.')[2]|trim(' }}') in request.properties|keys %}
            {% set newValue = include(template_from_string(value)) %}
                {% set queryArray = queryArray|merge({ (key): newValue }) %}
            {% else %}
                {% set newValue = 'null' %}
            {% endif %}
        {% else %}
            {% set queryArray = queryArray|merge({ (key): value }) %}
        {% endif %}
    {% endfor %}
    {% set offers = commonground_resource_list({'component':'pdc', 'type':'offers'}, queryArray)["hydra:member"] %}
{% else %}
    {% set offers = commonground_resource_list({'component':'pdc', 'type':'offers'})["hydra:member"] %}
{% endif %}
<div class="input input--horizontal">
    <div>
        <label class="input__label" for="{{ property.id }}">
            {% if property.icon is defined and property.icon is not empty %}
                <i style="margin-right: 10px;" class="{{ property.icon }}"></i>
            {% endif %}
            {{ property.title }} {% if property.required is defined and property.required %}<span style="color: red;"><strong>*</strong></span>{% endif %}</label>
    </div>
    {% if property.type == 'string' %}
        {% if offers|length > 20 %}
        <select id="offer" name="request[properties][{{ property.name }}]" style="min-width: 100% !important;" class="input__control input__control--m input__control--select ">
            {% for offer in offers %}
                {% if request.properties[property.name] is defined and request.properties[property.name] == offer['@id'] %}
                    <option value="{{ offer['@id'] }}" name="request[properties][{{ property.name }}]" selected>
                        {% if offer.price != 0 %}
                            {% if offer.priceCurrency == 'EUR' %}
                                {{ offer.name|capitalize }} {{ ' - ' }} €{{ offer.price }}{% if offer.price matches '/^\\d+$/' %}{{ ',-' }}{% else %}{% endif %}
                            {% else %}
                                {{ offer.name|capitalize }} {{ ' - ' }} {{ offer.price }}{% if offer.price matches '/^\\d+$/' %}{{ ',-' }}{% else %}{% endif %}
                            {% endif %}
                        {% endif %}
                    </option>
                {% else %}
                    <option value="{{ offer['@id'] }}">
                        {% if offer.price != 0 %}
                            {% if offer.priceCurrency == 'EUR' %}
                                {{ offer.name|capitalize }} {{ ' - ' }} €{{ offer.price }}{% if offer.price matches '/^\\d+$/' %}{{ ',-' }}{% else %}{% endif %}
                            {% else %}
                                {{ offer.name|capitalize }} {{ ' - ' }} {{ offer.price }}{% if offer.price matches '/^\\d+$/' %}{{ ',-' }}{% else %}{% endif %}
                            {% endif %}
                        {% endif %}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
        {% else %}
            <fieldset class="input">
                {% for offer in offers %}
                    <div class="input__group input__group--radio">
                        <input id="{{ offer.id }}" type="radio" class="input__control input__control--radio" value="{{ offer['@id'] }}" name="request[properties][{{ property.name }}]"
                               {% if request.properties[property.name] is defined and request.properties[property.name] == offer['@id'] %}checked{% endif %}>
                        <label for="{{ offer.id }}" class="input__label input__label--radio">{{ offer.name }}
                        {% if offer.price != 0 %}
                            <span style="float:right;">
                            {% if offer.priceCurrency == 'EUR' %}
                                €{{ offer.price }}
                            {% else %}
                                {{ offer.price }}
                            {% endif %}
                            {% if offer.price matches '/^\\d+$/' %}{{ ',-' }}{% else %}{% endif %}
                            </span>
                        {% endif %}
                        </label>
                     </div>
                {% endfor %}
            </fieldset>
        {% endif %}
    {% else %}
    <ul class="input__group-list">
            <li class="input__group input__group--checkbox">
                <ul>
                    {% set value = 1 %}
                    {% for offer in offers %}

                    <li>
                        <input {% if request['properties'][property.name] is defined and offer['@id'] in request['properties'][property.name] %}checked {% endif %} type="checkbox" class="input__control input__control--checkbox" value="{{ offer['@id'] }}" name="request[properties][{{ property.name }}][{{ value }}]" id="{{ offer.id }}">
                        <label for="{{ offer.id }}" class="input__label input__label--checkbox">{{ offer.name }}
                            {% if offer.price != 0 %}
                                <span style="float:right;">
                                {% if offer.priceCurrency == 'EUR' %}
                                    €{{ offer.price }}
                                {% else %}
                                    {{ offer.price }}
                                {% endif %}
                                        {% if offer.price matches '/^\\d+$/' %}{{ ',-' }}{% else %}{% endif %}</span>
                                {% endif %}
                        </label>
                    </li>
                        {% set value = value + 1 %}
                    {% endfor %}
                </ul>
            </li>

    </ul>
    {% endif %}
</div>

