<br>
<br>

<h3>Uw bestaande waardepapieren</h3>

<table class="table table-responsive" aria-describedby="tabelbeschrijving">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Aangemaakt op</th>
        <th class="center">PNG</th>
        <th>PDF</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if certificates|default %}
        {% for cert in certificates %}
            <tr>
                <th scope="row">{{ cert.id|capitalize }}</th>
                {% if cert.dateCreated|default %}
                    <td>{{ cert.dateCreated|date('d-m-Y') }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>                {% if cert.image|default %}
                        <a href="{{ cert.image }}" download>
                            <i class="fa fa-image"></i>
                        </a>
                    {% endif %}</td>
                <td>                {% if cert.document|default %}
                        <a href="{{ cert.document }}" download>
                            <i class="fa fa-file-pdf"></i>
                        </a>
                    {% endif %}</td>
{#                <td class="text-right">#}
{#                    <form action="{{ path('app_waardepapieren_certificate') }}" method="post">#}
{#                        <input name="type" value="{{ cert.type }}" hidden>#}
{#                        <input name="person" value="{{ app.user.person }}" hidden>#}
{#                        <button type="submit" class="pointer">Bekijken</button>#}
{#                    </form>#}
{#                </td>#}
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <th scope="row" style="color: lightgrey">U heeft nog geen waardepapieren</th>
            <td></td>
            <td></td>
{#            <td></td>#}
        </tr>
    {% endif %}
    </tbody>
</table>
