{% set digispoof = commonground_cleanurl({"component":"ds"}) %}

<div class="modal modal--backdrop" role="dialog" id="myModal" tabindex="-1" aria-describedby="modal-description3">
    <section class="modal__content" role="document">
        <div class="modal__body" tabindex="0" lang="en-US">
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-6">
                    <h1>{{ 'login'|trans|capitalize }}</h1>
                </div>
                <div class="col-xs-6">
                    <button style="float: right;" class="modal__close-button">
                        <i class="icon icon-cross"></i>
                        {{ 'close'|trans|capitalize }}
                    </button>
                </div>
            </div>

            <div class="skiplink-target content" id="main-content">

{#              Hardcoded link  #}
{#                {% if application['defaultConfiguration']['configuration']['login']['digid'] is defined and application['defaultConfiguration']['configuration']['login']['digid'] %}#}

                <h2 id="inloggen-verzuimloket">Digispoof</h2>
                <p>
                    <a class="pointer" href="{{ digispoof }}{% if '?' in digispoof %}&{% else %}?{% endif %}responceUrl={{ url('app_user_digispoof') }}&backUrl={{ url('app_default_index') }}"><i
                                style="margin-right: 10px" class="fas fa-lock"></i> Log in met Digispoof
                    </a>
                </p>
                <h2 id="inloggen-verzuimloket">DigiD</h2>
                <p>
                    <a class="pointer" href="/saml/Login"><i
                                style="margin-right: 10px" class="fas fa-lock"></i> Log in met DigiD
                    </a>
                </p>
{#                {% endif %}#}
            </div>
        </div>
    </section>
</div>
