
<div class="content-background">
    <div class="content">
        <h2>{{ 'comparable requests'|trans|capitalize }}</h2>
        {{ 'relevant requests that you have made in the past that share a great amount of characteristic with the request'|trans|capitalize}} {{ process.name }}
        {% if not app.user %}
        <aside class="hint">
            <h2 class="hint__title">{{ 'login required'|trans|capitalize}}</h2>
            {{ 'you need to login before you can view relevant requests'|trans|capitalize}}
        </aside>
        {% elseif requests is defined and requests|length > 0 %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">{{ 'created'|trans|capitalize }}</th>
                <th scope="col">{{ 'status'|trans|capitalize }}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for resource in requests %}
                <tr>
                    <td>{% if resource.dateCreated is defined and resource.dateCreated is not null %}{{ resource.dateCreated|date("d-m-Y H:i:s", "Europe/Paris") }}{% endif %}</td>
                    <td>{{ resource.status|trans|capitalize }}</td>
                    {% if resource.status == 'submitted' or resource.status == 'incomplete' %}
                        {% set resumeRequest = 'resume' %}
                        <td><a style="background: #cfebfd; padding: 6px; border-radius: 6px"
                               href="{{ path('app_ptc_process_stage', {id: commonground_resource(resource.processType).id, request: resource['@id']}) }}"><b>{{ 'resume'|trans|capitalize }}</b></a>
                        </td>
                    {% else %}
                        {% set resumeRequest = 'see' %}
                        <td><a style="background: #cfebfd; padding: 6px; border-radius: 6px"
                               href="{{ path('app_ptc_process_stage', {id: commonground_resource(resource.processType).id, request: resource['@id']}) }}"><b>{{ 'see'|trans|capitalize }}</b></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            {{ 'no comparable requests'|trans|capitalize }}
        {% endif %}
    </div><!-- /.content -->
</div><!-- /.content-background -->
