{% set requestType = commonground_resource(process.requestType) %}
{% if requestType.templates is defined and requestType.templates is not empty %}
    <div class="content-background">
        <div class="content">
            <h2>{{ 'download documents'|trans|capitalize }}</h2>
            {% if requestType is defined and requestType is not empty and request.id is defined and request.id is not empty %}
            <ul class="list list--files">
                {% if requestType.templates is defined and requestType.templates is not empty %}
                    {% for template in requestType.templates %}
                        <li class="file">
                            <i class="file__icon icon icon-document"></i>
                            <div class="file__data">
                                <div class="file__filename">
                                    <a href="{{ path('app_vrc_download',{'id': template.id, 'requestId': request.id}) }}">
                                    <strong class="file__title break-all">{{ template.name }}</strong>
                                    </a>
                                    <span class="meta">{{ template.type }}</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
            </ul>
                {% endif %}
            {% if request.order is defined and request.order is not empty %}
            <h5>{{ 'orders'|trans|capitalize }}</h5>
            <ul style="margin-top: 0 !important;" class="list list--files">
                <li class="file">
                    <i class="file__icon icon icon-document"></i>
                    <div class="file__data">
                        <div class="file__filename">
                            <a href="{{ path('app_download_order',{'id': commonground_resource(request.order).id}) }}">
                                <strong class="file__title break-all">{{ commonground_resource(request.order).reference }}</strong>
                            </a>
                            <span class="meta">pdf</span>
                        </div>
                    </div>
                </li>
            </ul>
            {% endif %}
            {% if request.order is defined and request.order is not empty %}
                {% set invoices = commonground_resource_list({'component':'bc', 'type':'invoices'}, {'order': commonground_resource(request.order)['@id'] })['hydra:member'] %}
            {% endif %}
            {% if invoices is defined and invoices is not empty %}
                <h5>{{ 'invoices'|trans|capitalize }}</h5>
                {% for invoice in invoices %}
                    <ul style="margin-top: 0 !important;" class="list list--files">
                        <li class="file">
                            <i class="file__icon icon icon-document"></i>
                            <div class="file__data">
                                <div class="file__filename">
                                    <a href="{{ path('app_download_invoice',{'id': invoice.id}) }}">
                                        <strong class="file__title break-all">{{ invoice.name }}</strong>
                                    </a>
                                    <span class="meta">pdf</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}
